
/*New CSS file for website*/


p.upper {
    font-weight: bold;
    font-size: medium;
}

p.lower{
    font-size:small;
    
}

p1{
    font-size: larger;
    font-weight: bold;
}

body {
    background-color: white;
}